<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>PRJ321x - Assignment 3</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controller.LoginController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>URLController</servlet-name>
    <servlet-class>controller.URLController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>controller.LogoutController</servlet-class>
  </servlet>
  <context-param>
    <param-name>username</param-name>
    <param-value>huyhoang@gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>12345678</param-value>
  </context-param>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>URLController</servlet-name>
    <url-pattern>/URLController</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>5000</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>Connect</display-name>
    <servlet-name>Connect</servlet-name>
    <servlet-class>demo.Connect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connect</servlet-name>
    <url-pattern>/Connect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListController</display-name>
    <servlet-name>ListController</servlet-name>
    <servlet-class>controller.product.ListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListController</servlet-name>
    <url-pattern>/ListController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchController</display-name>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>controller.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/SearchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartController</display-name>
    <servlet-name>AddToCartController</servlet-name>
    <servlet-class>controller.AddToCartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartController</servlet-name>
    <url-pattern>/AddToCartController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InformationProductController</display-name>
    <servlet-name>InformationProductController</servlet-name>
    <servlet-class>controller.InformationProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InformationProductController</servlet-name>
    <url-pattern>/InformationProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayController</display-name>
    <servlet-name>PayController</servlet-name>
    <servlet-class>controller.PayController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayController</servlet-name>
    <url-pattern>/PayController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListControler</display-name>
    <servlet-name>ListControler</servlet-name>
    <servlet-class>controller.product.ListControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListControler</servlet-name>
    <url-pattern>/ListControler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchControler</display-name>
    <servlet-name>SearchControler</servlet-name>
    <servlet-class>controller.product.SearchControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchControler</servlet-name>
    <url-pattern>/SearchControler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrdersDao</display-name>
    <servlet-name>OrdersDao</servlet-name>
    <servlet-class>dao.OrdersDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrdersDao</servlet-name>
    <url-pattern>/OrdersDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListProductDao</display-name>
    <servlet-name>ListProductDao</servlet-name>
    <servlet-class>dao.ListProductDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListProductDao</servlet-name>
    <url-pattern>/ListProductDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterController</display-name>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>controller.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/RegisterController</url-pattern>
  </servlet-mapping>
</web-app>